<div class="col-xl-8">
<div class="card card-info card-inverse">
    <h2 class="card-header card-info">
        {{thisDoctor.doc_name }}
    </h2>
    <div class="card-block bg-white">
        Doctor ID:  {{thisDoctor.doc_id}},  Age:  {{thisDoctor.doc_age}}<br>
        Contact NO:  {{thisDoctor.contact_number}},  Speciality:  {{thisDoctor.speciality}}<br>
        Work Schedule In A Week:
        <div *ngFor="let day of thisDoctor.weekday">
            {{day.weekday}}, starting hour: {{day.start}}, ending hour:{{day.end}}
        </div>
       <!-- <button class="btn btn-success" (click)="seeThisDoctor(doctor)">More Info</button>-->
    </div>
</div>
</div>

<br>

<div class="col-xl-8">
    <div class="card-header">Work Schedule In A Week</div>
    <div class="card-block table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Weekday</th>
                <th>Starting Hour</th>
                <th>Ending Hour</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let day of thisDoctor.weekday">
                <td>{{day.weekday}}</td>
                <td>{{day.start}}</td>
                <td>{{day.end}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<button class="btn btn-success" (click)="goToMakeAppointment()">GO TO MAKE AN APPOINTMENT!</button>

<!--
<button class="btn-success" (click)="goToMakeAppointment()">Go To Make An Appointment</button>
<div class="form-group">
    <label>Available Schedule for This Doctor</label>
    <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>
-->
