

<div class="row mt-3">
<div class="col-sm-6">
    <div class="card mb-3">
        <div class="card-header">Select Speciality</div>
        <div class="card-block">
            <form>
            <div class="form-group">

                <select class="form-control" name="speciality" ngModel required pattern="[a-zA-Z ]{1,}" ngModel #speciality="ngModel">
                    <option>Physician</option>
                    <option>Cardiology</option>
                    <option>Neurology</option>
                    <option>Orthopedics</option>
                </select>
                <div class="alert alert-warning" *ngIf="!speciality.valid &&speciality.touched">Please Fill Out This Blank</div>
            </div>
                </form>
        </div>
    </div>
</div>
</div>
    <button class="btn-lg btn btn-success" [disabled]="!speciality.valid&&!speciality.touched" (click)="showDocBySpeciality(speciality.value)" >New Search Your Doctor</button>

<!--<div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-header">Date Picker</div>
            <div class="card-block">
                <form class="form-inline mb-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" required
                                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-addon" (click)="d.toggle()" >
                                <span class="fa fa-calendar"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="alert alert-info mb-0">
                    <strong>Model: </strong> {{ model | json }}
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--<br>
<br>
<br>
<button class="btn-lg btn btn-success" (click)="showDocBySpeciality(speciality.value)" >New Search Your Doctor</button>

<button class="btn-lg btn btn-success" [routerLink]="['../searchresult']" (click)="showDocBySD(speciality.value)" >Search Your Doctor</button>

<button class="btn-lg btn btn-success" (click)="showDocBySD(speciality.value)" >Test Button</button>-->


<!--<div class="col-sm-6 mt-3">
    <div class="card">
        <div class="card-header">Timepicker (<b>Custom Step</b>)</div>
        <div class="card-block">
            <ngb-timepicker [(ngModel)]="customTime" [seconds]="true"
                            [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"></ngb-timepicker>

            <div class="row">
                <div class="col-sm-4">
                    <label for="changeHourStep">Hour Step</label>
                    <input type="number" class="form-control" [(ngModel)]="hourStep" />
                </div>
                <div class="col-sm-4">
                    <label for="changeMinuteStep">Minute Step</label>
                    <input type="number" class="form-control" [(ngModel)]="minuteStep" />
                </div>
                <div class="col-sm-4">
                    <label for="changeSecondStep">Second Step</label>
                    <input type="number" class="form-control" [(ngModel)]="secondStep" />
                </div>
            </div>
            <div class="alert alert-info mt-3 mb-0">
                <b>Selected time: </b>{{customTime | json}}
            </div>
        </div>
    </div>
</div>-->

<!--<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-header">Date Picker</div>
            <div class="card-block">
                <form class="form-inline mb-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-addon" (click)="d.toggle()" >
                                <span class="fa fa-calendar"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="alert alert-info mb-0">
                    <strong>Date: </strong> {{ model | json }}
                </div>
            </div>
        </div>
    </div>
</div>-->


